#here {
    background-color: #37B651;
}

#there {
    background-color: #4B74C5;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}

header, footer {
    background-color: #152730;
}

html, body, .hero-section, .accord, .design .main, .container {
    background-color: #152730 !important;
    color: #FFFFFF;
}


.foothead {
    font-family: 'Major Mono Display', monospace;
    color: #FFFFFF;
}

.h1font { 
    font-family: 'Major Mono Display', monospace;
    font-size: 30px;
    
}

.h3font {
    font-family: 'Major Mono Display', monospace;
    font-size: 32px;
}

p, .p, li, h5 {
    font-family: 'M PLUS Code Latin', monospace;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}

.bodyfont {
    color: #FFFFFF;
    font-family: M PLUS Code Latin;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: capitalize;
}

/* top nav */
.topnav {
    box-shadow: 0rem 0.25rem 1rem -0.5rem #000000;
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.topnav img {
    height: 89px;
    width: 152px;
    flex-shrink: 0
}


/* navigation buttons */

.container-fluid {
    display: flex;
    padding: 6px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.btndesignproc {
    background: linear-gradient(135deg, #808080, #333333);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btndesignproc:hover {
    background: linear-gradient(135deg, #333333, #808080);
}

/* */
.btnempathize {
    background: linear-gradient(135deg, #6AC3F8, #0076A3);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btnempathize:hover {
    background: linear-gradient(135deg, #0076A3, #6AC3F8);
}

/* */
.btndefine {
    background: linear-gradient(135deg, #EF9D51, #BF6B0F);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btndefine:hover {
    background: linear-gradient(135deg, #BF6B0F, #EF9D51); /* Swapped gradient colors on hover */
}

/* */
.btnideate {
    background: linear-gradient(135deg, #37B651, #1E7221);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btnideate:hover {
    background: linear-gradient(135deg, #1E7221, #37B651); /* Swapped gradient colors on hover */
}

/* */
.btnproto {
    background: linear-gradient(135deg, #3D75CC, #0F2D66);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btnproto:hover {
    background: linear-gradient(135deg, #0F2D66, #3D75CC); /* Swapped gradient colors on hover */
}

/* */
.btntest {
    background: linear-gradient(135deg, #D03771, #800A32);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btntest:hover {
    background: linear-gradient(135deg, #800A32, #D03771); /* Swapped gradient colors on hover */
}

/* */
.btncomm {
    background: linear-gradient(135deg, #808080, #333333);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.btncomm:hover {
    background: linear-gradient(135deg, #333333, #808080); /* Swapped gradient colors on hover */
}


.banner {
    display: flex;
    padding-top: 30px;
    background-color: #152730;
    justify-content: center;
    align-content: center;

}

.bannerfont {
    font-family: M PLUS Code Latin;
    background: linear-gradient(90deg, #E3A15F 0%, #D47967 13.21%, #C14970 27.65%, #A678A7 40.28%, #88B1E2 58.32%, #6EB9A2 71.55%, #579988 85.59%, #4B74C5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: plus-lighter;   
    font-weight: 700;
}

/* hero section */

.hero-section {
    display: flex;
    align-items: center;
    gap: 55px;
    padding: 80px;
}

.heroflex {
    flex: 1; /* Takes up available space in the row */
    margin-left: 2%;

}

.hero-text {
    margin-bottom: 60px;
}

.hero-text h1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: Major Mono Display;
    
}

.hero-text p {
    margin-bottom: 20px;
    font-family: Major Mono Display;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 1px;
    
}

.hero-image {
    flex: 1; /* Takes up available space in the row */
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.startnow {
    font-family: M PLUS Code Latin;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.4px;

}

.startnow img {
    width: 75px;
    height: 79px;
    flex-shrink: 0;
}

/* design section */
.designproc {
    background-color:#152730;

}

.underline {    
    height: 10px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #E3A15F 0%, #D47967 13.21%, #C14970 27.65%, #A678A7 40.28%, #88B1E2 58.32%, #6EB9A2 71.55%, #579988 85.59%, #4B74C5 100%);
    mix-blend-mode: plus-lighter;
    box-shadow: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.40));
    height: 10px;
    flex-shrink: 0;
    border-radius: 5px;

}

.design p, ol {
    margin-left: 12%;
    margin-right: 12%;
    color: #FFF;
    font-family: Major Mono Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 1px;

}

.designbtndiv {
    display: flex;
    justify-content: center;
    align-items: center;

}

.designbtndiv a {
    text-decoration: none;
}

.designbtn {
    color: #000;
    font-family: M PLUS Code Latin;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: capitalize;
    display: flex;
    width: 488px;
    height: 55px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: linear-gradient(90deg, #E3A15F 0%, #D47967 13.21%, #C14970 27.65%, #A678A7 40.28%, #88B1E2 58.32%, #6EB9A2 71.55%, #579988 85.59%, #4B74C5 100%);
    mix-blend-mode: plus-lighter;
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.50) inset, 4px 0px 4px 0px rgba(0, 0, 0, 0.50) inset;
    text-decoration: none;
}

.designhead {

    padding: 20px;
}
/* design process */

.designhead h1 {
    font-family: M PLUS Code Latin;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #E3A15F 0%, #D47967 13.21%, #C14970 27.65%, #A678A7 40.28%, #88B1E2 58.32%, #6EB9A2 71.55%, #579988 85.59%, #4B74C5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: plus-lighter;
    margin:0;
}



.designproc img {
    width: 84%;
    margin: 8%;
}


/* accordian section */

.accordian {
    background-color: #152730 !important;
}

.accord {
    padding: 20px;
}

.accordbutton {
    background-color: #152730 !important;
    color: #FFFFFF !important;
}

.accordian-button::before {
    color: #FFFFFF;
    background-image: url(../images/ep-arrow-up.png);
}

.accordion-button::after {
    color: #FFFFFF;
    background-image: url(../images/ep-arrow-down.png);
}



#flush-collapseOne, #flush-collapseTwo, #flush-collapseThree, #flush-collapseFour, #flush-collapseFive {
    background-color: #152730;
    color: #FFFFFF;
    font-family: M PLUS Code Latin;
    
}

.card, .list-group-item {
    background-color: #152730;
    color: #FFFFFF;
}

.empathize {
    border-radius: 8px 8px 0px 0px;
    background: linear-gradient(138deg, #6AC3F8 31.43%, rgba(106, 195, 248, 0.50) 31.43%, rgba(106, 195, 248, 0.30) 50.84%, rgba(106, 195, 248, 0.50) 76.2%, #6AC3F8 76.2%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.define {
    background: linear-gradient(138deg, #EF9D51 31.43%, rgba(239, 157, 81, 0.50) 31.43%, rgba(239, 157, 81, 0.30) 50.84%, rgba(239, 157, 81, 0.50) 76.2%, #EF9D51 76.2%);
    
}

.ideate {
    background: linear-gradient(138deg, #37B651 31.43%, rgba(55, 182, 81, 0.50) 31.43%, rgba(55, 182, 81, 0.30) 50.84%, rgba(55, 182, 81, 0.50) 76.2%, #37B651 76.2%);
}

.prototype {
    background: linear-gradient(138deg, #3D75CC 31.43%, rgba(61, 117, 204, 0.50) 31.43%, rgba(61, 117, 204, 0.30) 50.84%, rgba(61, 117, 204, 0.50) 76.2%, #3D75CC 76.2%);
    
}

.test {
    background: linear-gradient(138deg, #D03771 31.43%, rgba(208, 55, 113, 0.50) 31.43%, rgba(208, 55, 113, 0.30) 50.84%, rgba(208, 55, 113, 0.50) 76.2%, #D03771 76.2%);
    
}

#card {
    width: 20rem;
}

.container {
    padding: 0;
    margin: 0;
}

#foot {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;

}

.gradunderline {
    box-shadow: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.40));
    height: 10px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #E3A15F 0%, #D47967 13.21%, #C14970 27.65%, #A678A7 40.28%, #88B1E2 58.32%, #6EB9A2 71.55%, #579988 85.59%, #4B74C5 100%);
    mix-blend-mode: plus-lighter;
    border-radius: 5px;
}

/* Usability Testing page */

.left {
    border-right: 2px solid #D03771;
}

.utimg img {
    width: 450px;
    height: 450px;
}

.utwhen {
    padding-top: 50px;
}

.utwhen img {
    width: 749px;
    height: 527px;
}


.navtext {
    color: #FFFFFF !important;
    size: 18px;

}

#utselected {
    color:  #D03771 !important;
}

.uthead {
    display: flex;
    align-items: center;
    gap: 10px;
}

.uthead h1 {
    flex: 1;
    font-family: "M PLUS Code Latin";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #E3A15F 0%, #D47967 13.21%, #C14970 27.65%, #A678A7 40.28%, #88B1E2 58.32%, #6EB9A2 71.55%, #579988 85.59%, #4B74C5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    mix-blend-mode: plus-lighter;
    margin-right: -10px;
    padding-left: 50px;
}

.utunderline {
    height: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background-color: #D03771;

    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.40));
    margin-bottom: 10px;
}

.utwhen p, .utwhy p {
    padding-left: 50px;
    padding-top: 20px;
}

.ut-section {
    display: flex;
    align-items: center;
    gap: 50px;
    padding-left: 50px;

    padding-bottom: 50px;
}

.ut-headers {
    color: #FFF;
    font-family: 'M PLUS Code Latin';
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.2px;
    text-transform: capitalize;
    padding-left: 50px;
}
.ut-sub-head {
    color: #FFF;
    font-family: 'M PLUS Code Latin';
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 142.857% */
    letter-spacing: 1.05px;
    padding-left: 30px;
}

#ut-whenimg {
    width: 749px;
    height: 527px;
    flex-shrink: 0;
}

#why1 {
    padding-left: 0px;
    padding-bottom: 0px !important;
}

.utwhyp {
    padding-left: 90px !important;
}

/* Scaling Dots Animation */
@keyframes scaling-dots {
    0%, 100% {
        transform: scale(0);
    }
    40%, 60% {
        transform: scale(1);
    }
}

.scaling-dots {
    display: grid;
    height: 10px;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 10px);
}

.scaling-dots div {
    animation: scaling-dots 1s infinite ease-in-out;
    background: blueviolet;
    border-radius: 100%;
    height: 10px;
    width: 10px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: white;
    border-radius: 5px;
    max-width: 300px;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
}
